body {
    font-family: arial;
    font-size: 12px;
}

#loggedout {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
#loggedin { 
    display: none; 
}

#header {
    padding: 4px;
    border-bottom: 1px solid #000;
    background: #eee;
}

#output {
    padding: 4px;
}

.card { 
    display: block; 
    padding: 2px;
}


.main-container {
    margin-top: 50px;
}

.bigdivider {
    font-size: 73px;
    color: #ccc;
    line-height: 73px;
    text-align: center;
}

.stats .loading {
    margin-top:100px;
    text-align: center;
    display: none;
}


/* Utility classes */
.wide {  }

#upload { display: none; }

#drop-zone { 
    width: 99%; 
    outline: 5px dotted #ccc; 
    font-size: 30px; 
    color: #ccc; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    text-align: center;
    margin: auto; 
    margin-bottom: 30px;
}



#selected-list-name { font-weight: bold; }

.labels { width: 100%; }
.stats-weekdays thead { text-align: center; }
.stats-weekdays tbody td { text-align: right; }
